.footer {
  /* background-color: #0d6efd;
   */
  
     background: linear-gradient(to right, #c2e59c, #64b3f4); 
 color: white;
  padding: 30px 20px 10px;
  margin-top: 60px;
    font-family: "Poetsen One", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-section a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}
